@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na naszej stronie!</h1>
    <p>Zapraszamy do zapoznania się z naszą ofertą i korzystania z naszych usług.</p>
</div>

<a asp-area="" asp-controller="BooksList" asp-action="BooksListView" class="btn btn-primary mt-3">Zobacz nasze książki</a>
